<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All posts</title>
</head>
<body>
<h1>My weird blog</h1>
<hr>
{% for post in posts %}
<h3><a href="{% url 'posts:specific' post.slug %}">{{ post.title }}</a></h3>
<p>
    {{ post.body }}
</p>
<div>{{ post.date }}</div>
</body>
{% empty %}
<p>Sorry, but we don't have any post still</p>
{% endfor %}
</html>