{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>
        {% trans "Posted at" %}: {{ post.date }}
    </p>
    <div>
       {{ post.body }}
    </div>

    <hr>
    <h2>
        Comments ({{ comments|length }})
    </h2>
    <div>
        {% for comment in comments %}
        {% empty %}
            <p>No comments in this post.</p>
            <p>Soyez le premier.</p>
        {% endfor %}
    </div>

</body>
</html>
